$mapHeight: 480px;
$bgTablePrimaryRow: #cfe2ff; // Borrowed from Bootstrap5. (table-primary)
$fontFamily: 'M PLUS 1p', sans-serif;

body {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}

#data-summary {
  display: flex;
  justify-content: center;
  gap: 2rem;
  h3.label {
    font-size: 1rem;
  }
}

#data-table {

  tr.clicked-marker {
    background-color: $bgTablePrimaryRow;
  }
  tr.dragged-marker {
    background-color: $bgTablePrimaryRow;
  }

  .elevation {
    max-width: 4rem;
  }
  .apply {
    max-width: 1rem;
  }

}

#example-map {
  background-image: url('../../images/yushin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}

#map {

  height: $mapHeight;

  .leaflet-marker-icon {

    // For the letters "S" and "G"
    .label {
      color: #fff;
      font-size: 12px; // Size of the marker - 2px (white border) * 2
      font-weight: bold;
    }

    &.first-div-icon {
      border: 2px solid #fff;
      background-color: blue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    &.last-div-icon {
      border: 2px solid #fff;
      background-color: green;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.normal-div-icon {
      border: 2px solid #fff;
      background-color: rgba(255, 0, 128, 1);
      border-radius: 50%;
    }

  }
}

#map-options {
  margin: 10px;
}

.leaflet-container {
  font-family: $fontFamily;
}