$bgTablePrimaryRow: #cfe2ff; // Borrowed from Bootstrap5.

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#map {
  height: 400px;
}

#map-options {
  margin: 10px;
}

#data-table {
  // Hidden by default
  display: none;
  tr.clicked-marker {
    background-color: $bgTablePrimaryRow;
  }
}

// .leaflet-control-container {
//   .custom-control {
//     background-color: #555;
//     padding: 4px;
//     button: {
//       color: #333;
//       background-color: #fff;
//       border-color: #ccc;
//     }
//   }
// }
