$mapHeight: 480px;
// $bgTablePrimaryRow: #cfe2ff; // Borrowed from Bootstrap5. (table-primary)
$fontFamily: 'M PLUS 1p', sans-serif;

$normalMarkerBG: rgba(255, 0, 128, 1);
$firstMarkerBG: rgba(255, 0, 128, 1);
$lastMarkerBG: rgba(255, 0, 128, 1);

body {
  font-family: $fontFamily;
  margin: 0;
  padding: 0;
}

.navbar {
  #goto-github {
    color: rgba(255,255,255,1);
    &:hover, &:active {
      color: rgba(255,255,255,0.8);
    }
  }
}

#op-btn-toolbar {
  #btn-shift, #btn-fill {
    display: none;
  }
}

#data-summary {
  display: flex;
  justify-content: center;
  gap: 2rem;
  h3.label {
    font-size: 1rem;
  }
}

#data-table {

  thead {
    th {
      .th-content {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        .dropdown-toggle:after {
          display: none;
        }
      }
    }
  }

  // tr.clicked-marker {
  //   background-color: $bgTablePrimaryRow;
  // }
  // tr.dragged-marker {
  //   background-color: $bgTablePrimaryRow;
  // }

  .elevation {
    max-width: 6rem;
  }

}

#map {

  height: $mapHeight;

  .leaflet-top.leaflet-left {
    .leaflet-control-zoom {
      display: none;
    }
    .custom-control {
      display: flex;
      flex-direction: column;
      gap: 8px;
      button.btn-white {
        background-color: #fff;
        &:hover, &:active {
          background-color: #d3d4d5;
        }
      }
    }
  }

  .leaflet-marker-icon {

    // For the letters "S" and "G"
    .label {
      color: #fff;
      font-size: 12px; // Size of the marker - 2px (white border) * 2
      font-weight: bold;
    }

    &.first-div-icon {
      border: 2px solid #fff;
      background-color: $firstMarkerBG;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.last-div-icon {
      border: 2px solid #fff;
      background-color: $lastMarkerBG;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.normal-div-icon {
      border: 2px solid #fff;
      background-color: $normalMarkerBG;
      border-radius: 50%;
    }

  }

  .leaflet-popup-content {
    button.remove-this-point {
      --bs-btn-padding-y: .1rem;
      --bs-btn-padding-x: .25rem;
      --bs-btn-font-size: 100%;
    }
  }
  
}

.tooltip-inner {
  text-align: unset;
}

footer {
  a:link, a:visited {
    color: #fff;
  }
  a:hover, a:active {
    color: #ddd;
  }
  .avatar {
    max-width: 2rem;
    height: auto;
    display: inline-block;
  }
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
