$mSize: calc(var(--bs-gutter-x) * .5); // margin 0.75rem
// $gSize: calc(var(--bs-gutter-x) * .5); // gap 0.75rem
// $bgTablePrimaryRow: #cfe2ff; // Borrowed from Bootstrap5. (table-primary)
$fontFamily: 'M PLUS 1p', sans-serif;

$normalMarkerBG: rgba(255, 0, 128, 1);
$firstMarkerBG: rgba(255, 0, 128, 1);
$lastMarkerBG: rgba(255, 0, 128, 1);

body {
  font-family: $fontFamily;
  height: 100vh;
}

header {
  nav.navbar {
    .navbar-brand {
      img {
        height: 32px;
        width: 32px;
      }
    }
    #goto-github-repo, #settings {
      color: rgba(255,255,255,1);
      &:hover, &:active {
        color: rgba(255,255,255,0.8);
      }
    }
  }
}

main {
  height: calc(100vh - 58px);
}

#op-btn-toolbar {
  #btn-shift, #btn-fill {
    display: none;
  }
}

.layout-wrapper {
  height: calc(100% - 0.5rem);
  &> * {
    height: 100%;
  }

  #map-container, #drop-zone-container, #table-container {
    height: 100%;
  }
}

#drop-zone-form {
  height: 100%;
}

#data-summary {
  .value {
    font-weight: bold; // Use font-weight instead of fw-bold
  }
}

#table-container {
  height: 100%;
  overflow-y: auto;
}

#data-table {
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

    th {
      .th-content {
        .dropdown-toggle:after {
          display: none;
        }
      }
    }
  }

  .idx, .chkbox {
    width: 2rem;
  }

  .elevation {
    max-width: 7rem;
  }

}

#map {
  height: 100%;
  .leaflet-top.leaflet-left {
    .leaflet-control-zoom {
      display: none;
    }
    .custom-control {
      display: flex;
      flex-direction: column;
      gap: 8px;
      button.btn-white {
        background-color: #fff;
        &:hover, &:active {
          background-color: #d3d4d5;
        }
      }
    }
  }

  .leaflet-marker-icon {

    // For the letters "S" and "G"
    .label {
      color: #fff;
      font-size: 12px; // Size of the marker - 2px (white border) * 2
      font-weight: bold;
    }

    &.first-div-icon {
      border: 2px solid #fff;
      background-color: $firstMarkerBG;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.last-div-icon {
      border: 2px solid #fff;
      background-color: $lastMarkerBG;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.normal-div-icon {
      border: 2px solid #fff;
      background-color: $normalMarkerBG;
      border-radius: 50%;
    }

  }

  .leaflet-popup-content {
    button.remove-this-point {
      --bs-btn-padding-y: .1rem;
      --bs-btn-padding-x: .25rem;
      --bs-btn-font-size: 100%;
    }
  }
  
}

.tooltip-inner {
  text-align: unset;
}

footer {
  a:link, a:visited {
    color: #fff;
  }
  a:hover, a:active {
    color: #ddd;
  }
  .avatar {
    max-width: 2rem;
    height: auto;
    display: inline-block;
  }
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#alert-container {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  width: auto;
  max-width: 80%;
  text-align: center;
  transition: bottom 0.3s ease-in-out;
  #alert-box .btn-close {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .layout-wrapper {
    gap: 0.5rem;
    &> * {
      height: calc(50vh - 29px - 0.5rem);
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-brand {
      .title-text {
        display: none;
      }
    }
    #nav-buttons {
      button {
        .label {
          display: none;
        }
      }
    }
  }
}
